<configuration>
  <appSettings>
    <!--   User application and configured property settings go here.-->
    <!--   Example: <add key="settingName" value="settingValue"/> -->
    <add key="Form1.Opacity" value="0.5" />
    <add key="Form1.ShowInTaskbar" value="False" />
  </appSettings>
</configuration>